@charset "UTF-8";
/*! sanitize.css v8.0.0 | CC0 License | github.com/csstools/sanitize.css */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 62.5%;
  cursor: default;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 2em;
}

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
  background-color: #ede8dc;
}

code,
kbd,
samp,
pre {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;
  font-size: 1em;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

button,
input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

button,
select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

template,
[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}

.sec__ttl {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 32px;
  font-weight: 500;
  color: #626262;
}

@media screen and (max-width: 1180px) {
  .sec__ttl {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .sec__ttl {
    font-size: 18px;
  }
}

.sec__txt,
.case__content-bottom p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 20px;
  line-height: calc(35 / 20);
  color: #626262;
}

@media screen and (max-width: 1180px) {
  .sec__txt,
  .case__content-bottom p {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 768px) {
  .sec__txt,
  .case__content-bottom p {
    font-size: 13px;
    line-height: 1.5;
  }
}

.sec__inner {
  width: calc(100% - 92px);
  max-width: 1190px;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  .sec__inner {
    width: 96%;
  }
}

.content__inner {
  width: calc(100% - 92px);
  max-width: 1190px;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  .content__inner {
    width: 96%;
  }
}

body.fixed {
  overflow: hidden;
  height: 100vh;
}

.sec__contact {
  display: flex;
  justify-content: space-between;
  background-color: #f3f7fc;
}

@media screen and (max-width: 768px) {
  .sec__contact {
    flex-wrap: wrap;
  }
}

.sec__contact__content {
  width: calc(100% - 474px);
  background-color: #f3f7fc;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .sec__contact__content {
    width: 100%;
  }
}

.sec__contact__content-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  border-bottom: 1px dotted #626262;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content-head {
    height: auto;
    padding: 5% 0;
  }
}

.sec__contact__content__icon {
  width: 100px;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content__icon {
    width: 18%;
  }
}

.sec__contact__content__icon img {
  width: 100%;
}

.sec__contact__content__txt {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 1;
  padding-left: 26px;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content__txt {
    padding-left: 3%;
  }
}

.sec__contact__content__txt--1 a {
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 33px;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content__txt--1 a {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .sec__contact__content__txt--1 a {
    font-size: 18px;
  }
}

.sec__contact__content__txt--2 {
  font-size: 25px;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content__txt--2 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .sec__contact__content__txt--2 {
    font-size: 16px;
  }
}

.sec__contact__content-bottom {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sec__contact__content-bottom {
    padding-bottom: 1em;
  }
}

.sec__contact__content-bottom .sec__txt {
  font-size: 32px;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content-bottom .sec__txt {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .sec__contact__content-bottom .sec__txt {
    font-size: 18px;
  }
}

.sec__contact__content-bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  background-color: #00479d;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

@media screen and (max-width: 1180px) {
  .sec__contact__content-bottom a {
    width: 13em;
    height: 1.5em;
    font-size: 2.5vw;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .sec__contact__content-bottom a {
    font-size: 18px;
  }
}

.sec__contact__content-bottom a .icon {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-size: 120%;
  font-weight: 500;
  line-height: 1.5;
  margin-left: .3em;
}

.footer {
  background-color: #e3edfa;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #00479d;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 4px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #686c69;
  padding-left: 29px;
  padding-right: 20px;
  padding-bottom: 27px;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    flex-wrap: wrap;
  }
}


.footer__nav {
  width: 440px;
  margin-top: 28px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__nav-list-item {
  width: 50%;
  margin-bottom: 15px;
}

.footer__nav-list-item a {
  font-size: 20px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .footer__nav-list-item a {
    font-size: 14px;
  }
}

.footer__contact {
  display: flex;
  margin-top: 54px;
}

@media screen and (max-width: 768px) {
  .footer__contact {
    margin-top: 10px;
  }
}

.footer__contact__icon {
  width: 72px;
}

.footer__contact__icon img {
  width: 100%;
}

.footer__contact__txt {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 1;
  padding-left: 18px;
}

.footer__contact__txt--1 a {
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .footer__contact__txt--1 a {
    font-size: 18px;
  }
}

.footer__contact__txt--2 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer__contact__txt--2 {
    font-size: 16px;
  }
}

.footer .copyright {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #686c69;
}

@media screen and (max-width: 768px) {
  .footer .copyright {
    font-size: 12px;
  }
}

.header {
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 86px;
  padding-left: 64px;
  padding-right: 12px;
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 2%;
    height: 50px;
  }
}

.header__logo {
  width: 288px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 120px;
  }
}

.header__contact {
  display: flex;
}

.header__contact__icon {
  width: 60px;
}

@media screen and (max-width: 768px) {
  .header__contact__icon {
    width: 45px;
  }
}

.header__contact__txt {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 1;
  padding-left: 3%;
}

.header__contact__txt--1 a {
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .header__contact__txt--1 a {
    font-size: 14px;
  }
}

.header__contact__txt--2 {
  font-size: 14px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .header__contact__txt--2 {
    font-size: 10px;
    white-space: nowrap;
  }
}

.header__nav {
  height: 64px;
  background-color: #00479d;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header__nav {
    height: 40px;
  }
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 92px);
  max-width: 1190px;
  margin: 0 auto;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1180px) {
  .header__nav-list {
    width: 96%;
  }
}

@media screen and (max-width: 768px) {
  .header__nav-list {
    padding: 5px 0;
  }
}

.header__nav-list-item {
  width: 25%;
  height: 100%;
  text-align: center;
  border-left: 1px solid #fff;
}

.header__nav-list-item:last-child {
  border-right: 1px solid #fff;
}

.header__nav-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-size: 18px;
}

@media screen and (max-width: 1180px) {
  .header__nav-list-item a {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 768px) {
  .header__nav-list-item a {
    font-size: 10px;
  }
}

.about__about {
  margin-bottom: 93px;
}

@media screen and (max-width: 768px) {
  .about__about {
    margin-bottom: 40px;
  }
}

.about__about dl {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about__about dt {
  align-self: stretch;
  width: 17%;
  padding: 12px 0;
  padding-left: 35px;
  border-bottom: 1px solid #00479d;
}

@media screen and (max-width: 768px) {
  .about__about dt {
    width: 20%;
    padding: 8px 0;
    padding-left: 0;
  }
}

.about__about dd {
  align-self: stretch;
  width: 83%;
  padding: 12px 0;
  border-bottom: 1px solid #626262;
}

@media screen and (max-width: 768px) {
  .about__about dd {
    width: 80%;
    padding: 8px 0;
  }
}

.about__access {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .about__access {
    margin-bottom: 40px;
  }
}

.about__access .sec__ttl {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .about__access .sec__ttl {
    margin-bottom: 16px;
  }
}

.case .content__inner {
  display: flex;
  justify-content: space-between;
}

.case__aside {
  width: 30.59829%;
  margin-bottom: 62px;
}

.case__aside__content {
  margin-bottom: 58px;
}

.case__aside__content-head {
  height: 68px;
  border-bottom: 1px solid #00479d;
}

.case__aside__content-head .sec__ttl {
  line-height: 68px;
}

.case__aside__content-bottom li {
  padding: 15px 0;
  border-bottom: 1px dotted #626262;
}

.case__aside__content-bottom li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 20px;
  line-height: calc(35 / 20);
  color: #626262;
}

@media screen and (max-width: 1180px) {
  .case__aside__content-bottom li a {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 768px) {
  .case__aside__content-bottom li a {
    font-size: 13px;
    line-height: 1.5;
  }
}

.case__content {
  width: 64.44444%;
}

.case__content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom: 1px dotted #626262;
}

.case__content-head .sec__ttl {
  line-height: 1.3;
}

.case__content-bottom {
  padding-top: 24px;
  padding-bottom: 1.5em;
}

.case .sec__contact {
  width: 100%;
}

.contact__content {
  margin-bottom: 93px;
}

@media screen and (max-width: 768px) {
  .contact__content {
    margin-bottom: 40px;
  }
}

.contact__content dl {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #626262;
}

.contact__content dt {
  position: relative;
  align-self: stretch;
  width: 30%;
  padding: 12px 0;
  padding-left: 35px;
  background-color: #f5f9fe;
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
  border-bottom: 1px solid #626262;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .contact__content dt {
    width: 100%;
  }
}

.contact__content dt::after {
  content: "任意";
  position: absolute;
  top: 10px;
  right: 16px;
  width: 52px;
  height: 24px;
  background-color: #0068b7;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}

.contact__content dt.required::after {
  content: "必須";
  background-color: #e60012;
}

.contact__content dd {
  align-self: stretch;
  width: 70%;
  padding: 12px 16px;
  border-right: 1px solid #626262;
  border-bottom: 1px solid #626262;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .contact__content dd {
    width: 100%;
    border-left: 1px solid #626262;
  }
}

.contact__content dd p {
  margin: 8px 0 12px;
}

.contact__content dd select {
  background-color: #f8f8f8;
  border-radius: 3px;
  width: 300px;
  height: 33px;
  padding-left: 24px;
  background-image: url("../img/contact/arrow_select.png");
  background-size: 10px auto;
  background-position: right 10px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .contact__content dd select {
    width: 100%;
    padding-left: 1em;
  }
}

.contact__content dd input {
  width: 500px;
  height: 42px;
  padding-left: 24px;
  border: 1px solid #bab1b1;
  border-radius: 3px;
  outline: none;
  line-height: 42px;
}

@media screen and (max-width: 768px) {
  .contact__content dd input {
    width: 100%;
    font-size: 16px;
    padding-left: 1em;
  }
}

.contact__content dd.address input {
  margin-bottom: 10px;
}

#zip {
  width: 180px;
}

.contact__content dd textarea {
  width: 500px;
  padding-left: 24px;
  border: 1px solid #bab1b1;
  border-radius: 3px;
  outline: none;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .contact__content dd textarea {
    padding-left: 1em;
    width: 100%;
    font-size: 16px;
  }
}

.contact__content dd.address select {
  margin-bottom: 12px;
}

.contact__content input[type="submit"] {
  display: block;
  background-color: #00479d;
  border: 1px solid #ff7600;
  width: 376px;
  height: 82px;
  margin: 74px auto 0;
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .contact__content input[type="submit"] {
    width: 80%;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
  }
}

.contact__access {
  margin-bottom: 100px;
}

.contact__access .sec__ttl {
  margin-bottom: 40px;
}

.remodel {
  display: flex;
  justify-content: space-between;
}

.remodel__sec {
  margin-bottom: 42px;
}

.remodel__step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin-bottom: 27px;
  background-color: #00479d;
}

@media screen and (max-width: 768px) {
  .remodel__step {
    width: 100px;
    height: 36px;
    margin-bottom: 16px;
  }
}

.remodel__step__num {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 32px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .remodel__step__num {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .remodel {
    flex-wrap: wrap;
  }
}

.remodel__img {
  width: 393px;
}

@media screen and (max-width: 768px) {
  .remodel__img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.remodel__content {
  width: calc(100% - 418px);
}

@media screen and (max-width: 768px) {
  .remodel__content {
    width: 100%;
  }
}

.remodel__content-head {
  height: 68px;
  border-bottom: 1px dotted #626262;
}

@media screen and (max-width: 768px) {
  .remodel__content-head {
    height: 36px;
  }
}

.remodel__content-head .sec__ttl {
  line-height: 68px;
}

@media screen and (max-width: 768px) {
  .remodel__content-head .sec__ttl {
    line-height: 36px;
  }
}

.remodel__content-bottom {
  padding-top: 24px;
}

@media screen and (max-width: 768px) {
  .remodel__content-bottom {
    padding-top: 10px;
  }
}

.sub {
  padding-bottom: 66px;
}

@media screen and (max-width: 768px) {
  .sub {
    padding-bottom: 40px;
  }
}

.top {
  padding-bottom: 77px;
}

@media screen and (max-width: 768px) {
  .top {
    padding-bottom: 40px;
  }
}

.top .intro {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .top .intro {
    padding: 30px 0;
  }
}

.top .intro .sec__ttl {
  text-align: center;
  margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
  .top .intro .sec__ttl {
    margin-bottom: 1em;
  }
}

.top .service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .top .service {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.top .service__img {
  width: 390px;
}

@media screen and (max-width: 1180px) {
  .top .service__img {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .top .service__img {
    width: 100%;
  }
}

.top .service__content {
  width: calc(100% - 414px);
}

@media screen and (max-width: 1180px) {
  .top .service__content {
    width: 63%;
  }
}

@media screen and (max-width: 768px) {
  .top .service__content {
    width: 100%;
  }
}

.top .service__content-head {
  height: 68px;
  border-bottom: 1px dotted #626262;
}

@media screen and (max-width: 768px) {
  .top .service__content-head {
    height: 36px;
  }
}

.top .service__content-head .sec__ttl {
  line-height: 68px;
}

@media screen and (max-width: 768px) {
  .top .service__content-head .sec__ttl {
    line-height: 36px;
  }
}

.top .service__content-bottom {
  padding-top: 24px;
}

@media screen and (max-width: 768px) {
  .top .service__content-bottom {
    padding-top: 10px;
  }
}

.top .service__content-bottom .sec__txt {
  margin-bottom: 36px;
}

@media screen and (max-width: 1180px) {
  .top .service__content-bottom .sec__txt {
    margin-bottom: 1.5em;
  }
}

.top .service__content-bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 45px;
  margin: 0 auto;
  background-color: #00479d;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

@media screen and (max-width: 1180px) {
  .top .service__content-bottom a {
    width: 9.2em;
    height: 1.5em;
    font-size: 2.3vw;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .top .service__content-bottom a {
    font-size: 16px;
  }
}

.top .service__content-bottom a .icon {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  font-size: 120%;
  font-weight: 500;
  line-height: 45px;
  margin-left: .3em;
}

.top .service-panel {
  display: flex;
  justify-content: space-between;
  background-color: #cdddf3;
  margin-bottom: 94px;
}

@media screen and (max-width: 768px) {
  .top .service-panel {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.top .service-panel .service__img {
  width: 600px;
}

@media screen and (max-width: 1180px) {
  .top .service-panel .service__img {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .top .service-panel .service__img {
    width: 100%;
    order: 1;
  }
}

.top .service-panel .service__content {
  width: calc(100% - 600px);
}

@media screen and (max-width: 1180px) {
  .top .service-panel .service__content {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .top .service-panel .service__content {
    width: 100%;
    order: 2;
    padding-bottom: 1em;
  }
}

.top .service-panel .service__content-head {
  border-bottom: none;
  height: auto;
  padding-top: 77px;
  padding-bottom: 13px;
}

@media screen and (max-width: 1180px) {
  .top .service-panel .service__content-head {
    padding-top: 8%;
  }
}

.top .service-panel .service__content-bottom {
  padding-top: 0;
}

.top .service-panel .service__content a {
  width: 338px;
  height: 36px;
}

@media screen and (max-width: 768px) {
  .top .service-panel .service__content a {
    width: 12em;
    height: 24px;
  }
}

.top .service-panel .sec__ttl {
  text-align: center;
  line-height: 1;
  font-size: 32px;
}

@media screen and (max-width: 1180px) {
  .top .service-panel .sec__ttl {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .top .service-panel .sec__ttl {
    font-size: 18px;
  }
}

.top .service-panel .sec__txt {
  width: 426px;
  font-size: 18px;
  line-height: calc(44 / 18);
  margin-bottom: 28px;
  padding-left: 45px;
}

@media screen and (max-width: 1180px) {
  .top .service-panel .sec__txt {
    width: auto;
    font-size: 1.6vw;
    line-height: 2;
    padding: 0 2em;
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .top .service-panel .sec__txt {
    font-size: 13px;
  }
}

.top .service-remodel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

@media screen and (max-width: 768px) {
  .top .service-remodel {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.top .service-remodel .service__img {
  width: 600px;
}

@media screen and (max-width: 1180px) {
  .top .service-remodel .service__img {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .top .service-remodel .service__img {
    width: 100%;
  }
}

.top .service-remodel .service__content {
  width: calc(100% - 620px);
}

@media screen and (max-width: 1180px) {
  .top .service-remodel .service__content {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .top .service-remodel .service__content {
    width: 100%;
  }
}

.top .service-remodel .service__content-head {
  height: 64px;
}

.top .service-remodel .service__content-bottom a {
  width: 378px;
  height: 40px;
}

@media screen and (max-width: 1180px) {
  .top .service-remodel .service__content-bottom a {
    width: 12em;
  }
}

.top .service-remodel .sec__ttl {
  line-height: 64px;
  font-size: 32px;
}

@media screen and (max-width: 1180px) {
  .top .service-remodel .sec__ttl {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .top .service-remodel .sec__ttl {
    font-size: 18px;
  }
}

.top .service-remodel .sec__txt {
  font-size: 18px;
  margin-bottom: 63px;
}

@media screen and (max-width: 1180px) {
  .top .service-remodel .sec__txt {
    font-size: 1.6vw;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  .top .service-remodel .sec__txt {
    font-size: 13px;
  }
}
