@media (min-width: 769px) and (max-width: 1180px) {

  h1, p {
    font-weight: normal;
    color: var(--primary_font_color);
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
  }

  html {
    margin: 0 auto;
    padding: 0;
  }

  body {
    --primary_color : #ede8dc;
    --primary_color_dark : #ddd8cc;
    --primary_font_color : #626262;
    --primary_font_color_dark : #525252;
    --contants-width: 90%;
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--primary_color);
  }

  main {
    width: var(--contants-width);
    margin: 0 auto;
    padding: 0;
  }

  .main_head{
    text-align: center;
    padding: 30px 0;
  }
  .main_head h1 {
    font-size: calc(100vw / 30);
    color: var(--primary_font_color);
  }
  .main_head p {
    font-size: calc(100vw / 48);
    color: var(--primary_font_color);
    margin: 0 auto;
    padding: 0;
  }

  .main_items {
    margin-bottom: 70px;
  }
  .item1 {
    width: var(--contants-width);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: white;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .item_img {
    background: white;
  }
  .item_info {
    background: var(--primary_color);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  }
  .item1 img {
    width: 70%;
    vertical-align: bottom;
  }
  .item1 h1 {
    width: 100%;
    font-size: calc(100vw / 36);
    text-align: left;
    border-bottom: dashed;
    border-width: 1px;
    flex-grow: 0;
  }
  .item1 p {
    width: 100%;
    font-size: calc(100vw / 48);
    text-align: left;
    flex-grow: 1;
  }
  .item1 a {
    flex-grow: 0;
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    font-size: calc(100vw / 50);
    color: var(--primary_font_color_dark);
    text-decoration: none;
    background: var(--primary_color);
    border-radius: 100px;
    border: solid;
    border-width: medium;
    border-color: var(--primary_color_dark);
    box-shadow: 0 0 3px 0 var(--primary_color_dark);
  }
  .item1 a:hover{
    background: var(--primary_color_dark);
  }

  .about {
    width: var(--contants-width);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: white;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: var(--primary_color);
  }
  .about img {
    width: 100%;
  }
  .about_img {
    background: var(--primary_color);
  }
  .about_info {
    background: var(--primary_color);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  }
  .about_info h1 {
    width: 100%;
    font-size: calc(100vw / 36);
    text-align: left;
    border-bottom: dashed;
    border-width: 1px;
    flex-grow: 0;
  }
  .about_info p {
    width: 100%;
    font-size: calc(100vw / 48);
    text-align: left;
    flex-grow: 1;
  }
  .about_info a {
    flex-grow: 0;
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    font-size: calc(100vw / 50);
    color: var(--primary_font_color_dark);
    text-decoration: none;
    background: var(--primary_color);
    border-radius: 100px;
    border: solid;
    border-width: medium;
    border-color: var(--primary_color_dark);
    box-shadow: 0 0 3px 0 var(--primary_color_dark);
  }
  .about_info a:hover{
    background: var(--primary_color_dark);
  }

  .call-to-action {
    width: var(--contants-width);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
    background: var(--primary_color);
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .call-to-action img {
    width: 100%;
  }
  .call-to-action_img {
    background: var(--primary_color);
  }
  .call-to-action_info {
    background: var(--primary_color);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  }
  .call-to-action_info h1 {
    width: 100%;
    font-size: calc(100vw / 36);
    text-align: left;
    border-bottom: dashed;
    border-width: 1px;
    flex-grow: 0;
  }
  .call-to-action_info p {
    width: 100%;
    font-size: calc(100vw / 48);
    text-align: left;
    flex-grow: 1;
  }

  footer {
    width: 100%;
    background: white;
    display: flex;
    padding-bottom: 20px;
  }
  footer > img {
    width: 25%;
    padding: 30px;
  }
  footer > p {
    text-align: center;
  }
  .footer_nav {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
    padding-top: 30px;
  }
   .footer_nav p {
     width: 100%;
     text-align: left;
   }
   .footer_contact {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 30px;
   }
   .footer_contact img {
     width: 50px;
     height: 50px;
   }
   .footer_contact p {
     margin: 0 0 0 8px;
   }
   .Copyright {
     text-align: center;
     background: white;
   }
}
